{% extends 'layouts/base.html.twig' %}
{% block title %}{% if title is defined %}{{ title }}{% endif %}{% endblock %}
{% block content %}
<div class="container-fluid p-0">
    <div class="row no-gutters">
        {% for i in items %}
            <div class="col-md-4">
                <div class="card m-1">
                    <div class="card-header text-center"><h6>{{ i.title }}</h6></div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-6">
                                <img src="{{ i.image ? asset(i.image) : asset('img/empty.jpg') }}" width="100%"/>
                            </div>
                            <div class="col-6">
                                <p>{{ i.getShortText }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer small">
                        <div class="row">
                            <div class="col-6 text-left">
                                <a href="{{ path('category', {alias: categories[i.categoryId].alias}) }}">{{ categories[i.categoryId].name }}</a>
                            </div>
                            <div class="col-6 text-right">
                                <a href="{{ path('item', {alias: i.alias}) }}" role="button">View &raquo;</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
<hr/>
<div class="row justify-content-center">
    <nav aria-label="page navigation">
        <ul class="pagination">
            {% for p in pager %}
                <li class="page-item {{ p['class'] }}"><a class="page-link" href="{{ p['urn'] }}">{{ p['label'] }}</a></li>
            {% endfor %}
        </ul>
    </nav>
</div>
{% endblock %}
