{% extends 'layouts/app.html.twig' %}
{% block title %}{% if title is defined %}{{ title }}{% endif %}{% endblock %}
{% block main %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8 col-sm-12">

            <table class="table table-striped">
                <thead>
                <tr class="text-center">
                    <th scope="col" width="1%">id</th>
                    <th scope="col" width="20%">Image</th>
                    <th scope="col">Title</th>
                    <th scope="col" width="5%">Edit</th>
                    <th scope="col"> <small>Created/Updated</small></th>
                </tr>
                </thead>
                <tbody class="text-black-50">
                {% for item in items %}
                <tr>
                    <th scope="row"><small>{{ item.id }}</small></th>
                    <th scope="row">
                        <img src="{{ item.image ? item.image : '/img/empty.jpg' }}" width="100%">
                    </th>
                    <td>
                        <strong>{{ item.title }}</strong>
                        <br />{{ item.getShortText }}
                    </td>
                    <td>
                        <a href="{# path('items.edit', item) #}" class="btn btn-sm btn-outline-primary" style="padding: 0 6px 0 6px;"> Edit </a>
                        <br>
                        <a onclick="event.preventDefault();deleteConfirm('{{ item.id }}', '{{ item.title }}', '$item')"
                           data-toggle="modal" data-target="#modal-default"
                           class="btn btn-sm btn-outline-danger text-danger" style="padding: 0 8px 0 7px"> Del </a>
                    </td>
                    <th scope="row" width="20%">
                        <small>
                            {{ item.createdAt ? item.createdAt.format('Y-m-d H:i:s') : 'Date unknown' }}
                            <br/>
                            {{ item.updatedAt ? item.updatedAt.format('Y-m-d H:i:s') : 'Have no updated' }}
                        </small>
                    </th>
                </tr>
                {% endfor %}
                <tr>
                    <td colspan="5" class="text-center bg-light">
                        {% if title is defined %}{{ title }}{% else %} page title {% endif %}
                    </td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>
{% endblock %}
