{% extends 'dashboard/index.html.twig' %}
{% block title %}{% if title is defined %}{{ title }}{% endif %}{% endblock %}
{% block content %}
<table class="table table-striped">
    <thead>
    <tr class="text-center">
        <th scope="col" width="1%">id</th>
        <th scope="col" width="20%">Image</th>
        <th scope="col">Title</th>
        <th scope="col" width="5%">Edit</th>
        <th scope="col"> <small>Created/Updated</small></th>
    </tr>
    </thead>
    <tbody>
    {% for item in items %}
    <tr>
        <td scope="row"><small>{{ item.id }}</small></td>
        <td scope="row"><img src="{{ item.image ? item.image : '/img/empty.jpg' }}" width="100%"></td>
        <td>
            <strong><a href="{{ path('items.show', {'alias': item.alias}) }}" id="item_name_{{item.id}}">{{item.title}}</a></strong>
            <br />{{item.getShortText}}
        </td>
        <td>
            <a href="{{ path('items.edit', {id: item.id}) }} " class="btn btn-sm btn-outline-primary" style="padding:0 6px 0 6px">Edit</a>
            <br/>
            <a onclick="event.preventDefault();deleteConfirm('{{ item.id }}', 'items')" data-toggle="modal" data-target="#modal-default"
               class="btn btn-sm btn-outline-danger text-danger" style="padding:0 8px 0 7px">Del</a>
        </td>
        <th scope="row" width="20%">
            <small>
                {{ item.createdAt ? item.createdAt.format('y-m-d H:i') : 'Date unknown' }}<br/>
                {{ item.updatedAt ? item.updatedAt.format('y-m-d H:i') : 'Have no updated' }}
            </small>
        </th>
    </tr>
    {% endfor %}
    <tr>
        <td colspan="5" class="text-center">
            <div class="row justify-content-center">
                <nav aria-label="page navigation">
                    <ul class="pagination">
                        {% for p in pager %}
                            <li class="page-item {{ p['class'] }}"><a class="page-link" href="{{ p['urn'] }}">{{ p['label'] }}</a></li>
                        {% endfor %}
                    </ul>
                </nav>
            </div>
            {% if title is defined %}{{ title }}{% else %} page title {% endif %}
        </td>
    </tr>
    </tbody>
</table>
{% include 'details/delete.html.twig' %}
{% endblock %}

